body, html {
    height: 100vh;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a { text-decoration: none; }
body {
    margin: 0;
    background: #E7E7E7;
    display: grid;
    font-family: 'Montserrat';
    grid-template-areas:
    "header header"
    "sidebar main";
    grid-template-rows: 60px auto;
    grid-template-columns: 20% auto;
    font-size: 1.2em;
}
header, aside, main, section {
    padding: 20px;
}
header {
    grid-area: header;
    background: #00C195;
    display: grid;
    grid-template-columns: 10% auto;
}

header a {
    color: #fff;
}

aside {
    background: #D3D3D3;
}
section {
    background: #fff;
    border-radius: 10px;
    min-height: 30%;
}

h1 {
    margin: 0;
}
nav {
    justify-self: right;
}
nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px;
}
aside ul {
    margin-top: 30px;
}
aside ul li a {
    text-transform: uppercase;
    font-size: .7em;
    padding: 13px 0;
    display: block;
    color: #000;
}


body::after {
    opacity: 0;
    }
    
    body.shepherd-active::after {
    content: "";
    display: block;
    background-color: #000;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000000; }
    
    .shepherd-element.shepherd-open, .shepherd-target.shepherd-enabled {
    z-index: 10000000;
    position: relative;
    }

